---
import { Button } from "@/components/ui/button";
import Content from "../components/Content.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";
---

<Layout>
  <Content>
    <div slot="default">
      <Hero />
      <Button>
        <a href="/todos">Go to my Todos</a>
      </Button>
    </div>
  </Content>
</Layout>
