---
import { Button } from "@/components/ui/button";
import Content from "../components/Content.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import NavBar from "@/components/NavBar.astro";

import "../styles/global.css";
---

<Layout>
  <NavBar />
  <Content>
    <div slot="default">
      <Hero />
      <Button id="login-button">
        <a href="/todos">My Todos</a>
      </Button>
    </div>
  </Content>
</Layout>
<script>
  import { userManager } from "@/lib/auth";

  document.addEventListener("DOMContentLoaded", async () => {
    const user = await userManager.getUser();

    const loggedIn = user && !Boolean(user.expired);
    const loginButton = document.getElementById("login-button");

    loginButton?.addEventListener("click", (e) => {
      e.preventDefault();
      if (loggedIn) {
        window.location.href = "/todos";
      } else {
        window.location.href = "/login";
      }
    });
  });
</script>
