---
import { AvatarComponent } from "@/components/Avatar";
import Content from "@/components/Content.astro";
import LogoutButton from "@/components/LogoutButton.astro";
import NavBar from "@/components/NavBar.astro";
import { Skeleton } from "@/components/ui/skeleton";
import Layout from "@/layouts/Layout.astro";

import avatar from "../assets/avatar.svg";
import "../styles/global.css";
---

<Layout>
  <NavBar>
    <AvatarComponent src={avatar.src} alt="user" fallbackText="" />
    <div id="name"></div>
    <LogoutButton server:defer />
  </NavBar>
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="temp w-full max-w-sm">
      <Content>
        <Skeleton
          className="w-full h-[200px]"
          hx-get="/partials/todos"
          hx-trigger="load"
          hx-swap="outerHTML"
        />
      </Content>
      <!-- </Content> -->
    </div>
  </div>
</Layout>
<script>
  import { userManager } from "@/lib/auth";

  let user = await userManager.getUser();

  if (!user || (user && user.expired)) {
    window.location.href = "/";
  } else {
    user = await userManager.getUser();

    const name = user?.profile.name || "User";
    document.getElementById("name")!.innerHTML =
      `<strong>Welcome Back ${name[0].toUpperCase() + name.slice(1)}</strong>`;
  }
</script>
<style>
  #todo {
    display: block;
  }

  section.todos {
    box-shadow:
      rgba(240, 46, 170, 0.4) 0px 5px,
      rgba(240, 46, 170, 0.3) 0px 10px,
      rgba(240, 46, 170, 0.2) 0px 15px,
      rgba(240, 46, 170, 0.1) 0px 20px,
      rgba(240, 46, 170, 0.05) 0px 25px;
  }
</style>
