---
import Content from "@/components/Content.astro";
import TodosComponent from "@/components/TodosComponent.astro";
import "../styles/global.css";
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/components/NavBar.astro";
import { Button } from "@/components/ui/button";
import { AvatarComponent } from "@/components/Avatar";
import avatar from "../assets/avatar.svg";
import { Skeleton } from "@/components/ui/skeleton";
---

<Layout>
  <NavBar>
    <AvatarComponent src={avatar.src} alt="user" fallbackText="" />
    <div id="name"></div>
    <Button id="signOut" className="visibility:hidden">Logoutoooooo</Button>
  </NavBar>
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm">
      <Content>
        <div id="message"></div>
        <TodosComponent server:defer>
          <Skeleton slot="fallback" className="w-full h-[200px]" />
        </TodosComponent>
      </Content>
    </div>
  </div>
</Layout>
<script>
  import { signOutRedirect, userManager } from "@/lib/auth";

  document.getElementById("signOut")!.addEventListener("click", async () => {
    await userManager.removeUser();
    await signOutRedirect();
  });

  let user = await userManager.getUser();

  if (!user || (user && !!user.expired)) {
    window.location.href = "/login";
  } else {
    user = await userManager.getUser();

    const name = user?.profile.name || "User";
    document.getElementById("signOut").style.visibility = "visible";
    document.getElementById("name").textContent =
      `Welcome back ${name[0].toUpperCase() + name.slice(1)}`;
  }
</script>
<style>
  #todo {
    display: block;
  }
</style>
