---
import { TodosList } from "@/components/TodosList";
import Content from "../components/Content.astro";

import "../styles/global.css";
---

<div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
  <div class="w-full max-w-sm">
    <Content>
      <TodosList client:load />
    </Content>
  </div>
</div>
<script>
  import { userManager } from "../scripts/auth";
  (async () => {
    const user = userManager.signinCallback();
    console.log(user)
  })();
</script>
<style>
  #todo {
    display: block;
  }
</style>
