---
import { TodosList } from "@/components/TodosList";
import Content from "../components/Content.astro";

import "../styles/global.css";
---

<div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
  <div class="w-full max-w-sm">
    <Content>
      <TodosList client:load />
    </Content>
  </div>
</div>
<!-- <Layout>
  <Content>
    <div id="todo">
      
    </div>
    <Card>
      <CardFooter className="flex justify-between">
        <div class="flex w-full max-w-sm items-center space-x-2">
          <Input type="email" placeholder="Email" />
          <Button type="submit">Subscribe</Button>
        </div>
      </CardFooter>
    </Card>
  </Content>
</Layout> -->
<style>
  #todo {
    display: block;
  }
</style>
