---
import { TodosList } from "@/components/TodosList";
import Content from "../components/Content.astro";

import "../styles/global.css";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm">
      <Content>
        <TodosList client:load />
      </Content>
    </div>
  </div>
</Layout>
<script>
  import type { User } from "oidc-client-ts";
import { userManager } from "../scripts/auth";
  (async () => {
    try {
      const user: User | undefined = await userManager.signinCallback();
    } catch (error) {
      console.error(error);
    }
  })();
</script>
<style>
  #todo {
    display: block;
  }
</style>
