---
import Todo from "@/components/Todo.astro";

export const partial = true;
export const prerender = false;

const todos = [
  { id: 1, description: "first one", completed: true },
  { id: 2, description: "second one", completed: false },
  { id: 3, description: "third one", completed: true },
];
---

<section class="space-y-4 flex-1" aria-labelledby="todos-label">
  <h1
    id="todos-label"
    class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
  >
    My Todo List
  </h1>
  <ul>
    {
      todos.map((todo) => (
        <Todo
          key={todo.id}
          description={todo.description}
          completed={todo.completed}
        />
      ))
    }
  </ul>
</section>
