---
import Todo from "@/components/Todo.astro";
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableFooter,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";

export const partial = true;
export const prerender = false;

const todos = [
  { id: 1, description: "first one", completed: true },
  { id: 2, description: "second one", completed: false },
  { id: 3, description: "third one", completed: true },
];
---

<Table>
  <TableCaption>A list of your recent invoices.</TableCaption>
  <TableHeader>
    <TableRow>
      <TableHead>Done</TableHead>
      <!-- complete checkbox -->
      <TableHead>Description</TableHead>
      <TableHead />
      <!-- delete button -->
    </TableRow>
  </TableHeader>
  <TableBody>
    {
      todos.map((todo) => (
        <Todo
          id={todo.id}
          description={todo.description}
          completed={todo.completed}
        />
      ))
    }
  </TableBody>
  <TableFooter>
    <TableRow>
      <TableCell colSpan={3}>Total</TableCell>
      <TableCell className="text-right">$2,500.00</TableCell>
    </TableRow>
  </TableFooter>
</Table>
