---
import Todo from "@/components/Todo.astro";
import { Button } from "@/components/ui/button";
import type { Todo as TodoType } from "@/domain";
import { GET } from "@/pages/api/todos";

const response = await GET(Astro);
const data = await response.json();

export const partial = true;
export const prerender = false;
---

<section class="todos space-y-4 flex-1" aria-labelledby="todos-label">
  <h1
    id="todos-label"
    class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
  >
    My Todo List
  </h1>

  <ul id="list">
    {data.todos.map((todo: TodoType) => <Todo {...todo} />)}
  </ul>

  <form
    class="flex gap-2 grow-[1] border-2 justify-between border-black"
    hx-post="/partials/list-item"
    hx-swap="beforeend"
    hx-target="previous #list"
  >
    <input
      class="border-none"
      type="text"
      name="task"
      id="task-input"
      autocomplete="off"
      required
    />
    <Button className="rounded-none" type="submit">Add</Button>
  </form>
</section>
