---
import astroLogo from "../assets/astro.svg";
---

<section id="hero">
  <a href="https://astro.build"
    ><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a
  >
  <h1>
    The only place to store your <mark>Todo</mark> lists
  </h1>
</section>
<style>
  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }

  @media screen and (max-width: 768px) {
    #hero {
      display: block;
      padding-top: 10%;
    }

    #news {
      right: 16px;
      left: 16px;
      bottom: 2.5rem;
      max-width: 100%;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
