---
import { Button } from "./ui/button";

import "../styles/global.css";
---

<nav class="flex justify-end p-2">
  <div class="right justify-between">
    <Button id="signIn" className="">Login</Button>
    <Button id="signOut" className="">Logout</Button>
  </div>
</nav>
<script>
  import { signOutRedirect, userManager } from "../scripts/auth";
  const signButton = document.querySelector("#signIn");
  const signOutButton = document.querySelector("#signOut");

  if (signButton) {
    signButton.addEventListener("click", async () => {
      console.info("signing in");
      const user = await userManager.signinCallback();
      if (user) {
        console.info(`User ${user.profile.name} logged in`);
        await userManager.signinRedirect();
      } else {
        console.error(`No user found`);
      }
    });
  }

  if (signOutButton) {
    console.info(`signing out, goodbye!`)
    signOutButton.addEventListener("click", async() => {
      try {
        await signOutRedirect()
      } catch (error) {
        console.error(error)
      }
    });
  } else {
  }
</script>
