---
import Logo from "@/assets/astro.svg";
import "../styles/global.css";
---

<nav id="nav-bar" class="flex justify-between p-2">
  <div id="container">
    <Logo class="block" />
  </div>
  <div class="flex justify-between gap-x-4 items-center">
    <slot />
  </div>
</nav>
