---
import { sleep } from "@/lib/helper";
import { Button } from "./ui/button";
import { Input } from "./ui/input";

export const prerender = false;

const todos = ["one", "two", "three"];

await sleep(5);
---

<div class="border-slate-900 border-2 p-4">
  <ol id="todo-list" class="list-inside py-4">
    {todos.map((todo) => <li class="list-decimal">{todo}</li>)}
  </ol>
  <form hx-post="/api/todo">
    <div class="flex w-full max-w-sm items-center space-x-2">
      <Input type="text" name="todo" placeholder="Enter your todo" required />
      <Button type="submit">Add</Button>
    </div>
  </form>
</div>
