---
import { Trash2 } from "lucide-react";
import { Button } from "./ui/button";
import { Checkbox } from "./ui/checkbox";

const { id, description, completed } = Astro.props;
console.log(completed);
---

<li class="flex justify-start gap-2">
  <Checkbox id={id} checked={completed} />
  <label class="me-auto" for={id}>{description}</label>
  <Button variant="outline" size="icon">
    <Trash2 />
  </Button>
</li>
