---
import { Button } from "./ui/button";
import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar";
import user from "@/assets/user.svg";
---

<!-- Using Astro syntax to manipulate the dom and hold state is cumbersome.
Use Astro for the pages and layouts. Use React for the components  -->
<div>
  <Avatar client:load>
    <AvatarImage src="https://github.com/shadcn.png" client:load />
    <AvatarFallback client:load>CN</AvatarFallback>
  </Avatar>
  <Button id="signOut" className="">Logout</Button>
</div>
<script>
  import { signOutRedirect } from "@/lib/auth.ts";

  document.getElementById("signOut")?.addEventListener("click", async () => {
    await signOutRedirect();
  });
</script>
